:root {
    /* colors */
    --primary-color: #6640BD;
    --secondary-color: #FFC029;
    --third-color: #F3EEFF;
    --white-typo: #EDE8F7;
    --black-typo: #232226;
    --grey-typo: #C6C5CB;

    /* fonts */
    --jua-font: "Jua";
    --roboto-font: "Roboto";
    --inter-font: "Inter";
    font-size: 16px;

    /* dimensions */
    --button-border-radius: 2.1875rem;
    --card-border-radius: .9375rem;
    --app-icon-border-radius: 1.25rem;

    /* global properties */
    html, body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .card-text-font {
        font-family: var(--roboto-font);
        font-size: 0.875rem;
        font-weight: normal;
        color: var(--_card-text-font, --grey-typo);
    }
    
    .card-title-font {
        font-family: var(--_card-title-font, --jua-font);
        font-size: 1.25rem;
        color: var(--_card-title-color, var(--black-typo));
    }

    .button-title-font {
        font-family: var(--inter-font);
        font-size: 1rem;
        color: var(--_button-title-font, var(--primary-color));
    }
}